.form-container{

    width: 75%;
    margin: auto;
    padding: 50px 100px;
    height: auto;
    background-color: lightgray;
}

.ant-form-horizontal .ant-form-item-control{
    min-width: 200px !important;
}

.delete-icon{
    margin-top: 10px;
}