.form-container{

    width: 75%;
    margin: auto;
    padding: 25px 100px;
    height: auto;
    background-color: #f0f2f5;
}

.ant-form-horizontal .ant-form-item-control{
    min-width: 200px !important;
}

.delete-icon{
    margin-top: 10px;
}
.delete-icon:hover{
    color: red;
    
}

.ant-form-item-control-input-content{
    display: flex;
    align-items: center;
    justify-content: center; 
}