.form-container{

    width: 75%;
    margin: auto;
    padding: 25px 100px;
    height: auto;
    background-color: #f0f2f5;
}

/* Delete icon */
.delete-icon{
    margin-left: 8px;
}

.delete-icon:hover{
    color: red;
}

/* Tag input adjust*/
.tag-input .ant-form-item-control-input-content{
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.button-row .ant-form-item-control-input-content{
    display: flex;
    align-items: center;
    justify-content: center;
}