.form-container{
    margin: auto;
    margin-top: -2rem;
    width: 75%;
    padding: 2rem !important;
    height: auto;
}

/* Delete icon */
.delete-icon{
    margin-left: 0.5em;
    font-size: 1rem;
    color: red !important;
}

.delete-icon:hover{
    scale: 1.2;
    transition: 100ms;
}

.title-divider{
    font-size: 1.875rem !important;
}

.required-color{
    color: #ff4d4f;
}

/* --------------------------------------- Media -------------------------------------*/

@media only screen and (max-width: 576px) {
    #side-content {
        padding: 0px;
    }

    .form-container{
        width: 100%;
    }
}