.form-container{
    width: 75%;
    margin: auto;
    padding: 2rem !important;
    height: auto;
}

/* Delete icon */
.delete-icon{
    margin-left: 8px;
}

.delete-icon:hover{
    color: red;
}

/* Tag input adjust*/
.tag-input .ant-form-item-control-input-content{
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.button-row .ant-form-item-control-input-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-divider{
    font-size: 1.875rem !important;
}

/* --------------------------------------- Media -------------------------------------*/

@media only screen and (max-width: 576px) {
    #side-content {
        padding: 0px;
    }

    .form-container{
        width: 100%;
    }
}