


body{
    font-family: Fredoka;
}

img {
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    width: 30px;
    float: left;
}

.container {

    display: flex;
    float: left;
    width: 100%;
    height: auto;
}

#contact-label {
    float: left;
    margin: auto;
    margin-left: 6px;
}