
body{
    padding: 10px;
    margin: auto;
    width: 70%;
    background-image: url('../docs/images/background_image2.jpg');
}

.rounded-corners{
    border-radius: 8px;
}

.shadow{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    

}


.text-place{

    margin: 20px;    
}

.header {
    margin-top: 15px;
    background-color: RGB(0, 150, 136);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color:white
    
}

.icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.icon-frame{

    width: 34px;
    height: 34px;
}

.iconGroup{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 0px;
    width: 100%;
    justify-content: center;
}

.bookmarksGroup{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.bookmark{

    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
}


#instagram-icon:hover{
    width: 32px;
    height: 32px;
}

#facebook-icon:hover{
    width: 32px;
    height: 32px;
}

#github-icon:hover{
    width: 32px;
    height: 32px;
}

.flex-container {
    display: flex;
    flex-direction: wrap;
    min-height: 80vh;
  }

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 16%;
    background-color: #D0D0D0;
    padding: 20px;
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
  }
  
  /* Main column */
.main {
    flex: 84%;
    background-color: white;
    padding: 20px;
    margin: 10px 0px 10px 10px;
}



/* Footer */
.footer {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: RGB(0, 150, 136);
  }

