#side-content {
    min-height: calc(100vh - 70px - 64px);
    padding: 2rem;
    margin: 6vh 8vw;
}

.logo{
    color: white;
    margin-right: 30px;
    float: left;
    font-size: 1.25rem;
}

.footer{
    background-color: #001529 !important;
    text-align: center;
    color: white !important;
}

.black-transparency-effect{
    background-color: rgba(0,0,0, 0.2);
    backdrop-filter: blur(6px);
    border-radius: 5px;
}

main{
    /* background-image: url("https://firebasestorage.googleapis.com/v0/b/group-finder-bb64a.appspot.com/o/images%2Fbackground%2Fbg_image.jpg?alt=media&token=363fa536-b498-4c5d-a2bc-02de81367982"); */
    background-image: url("/public/images/bg_image.jpg");
}


/* ----------------------- Changes in antd styling -----------------------*/


/* ------ Card component */
.ant-card-body{
    padding-bottom: 15px !important;
}

.ant-card .ant-avatar{
    border: 2px solid rgba(255,255,255,0.5);
}

.ant-card-meta-title{
    color: white !important; 
}

.ant-card-actions{
    background-color: rgba(255,255,255,0.5) !important;
    border-top: 3px solid rgba(255,255,255,0.2) !important;
}

.ant-card-actions > li > span > .anticon:hover{
    color: rgba(0,0,0,.45) !important; 
}

.ant-card-bordered {
    border: 3px solid rgba(255,255,255,0.3) !important;
}

.ant-card-hoverable:hover {
    border-color: rgba(255,255,255,0.45) !important;
}


/* ------ Divider component */
/* Change color to white */
.ant-divider{
    color: white !important;
}

.ant-divider-horizontal.ant-divider-with-text::after{
    border-top: 1px solid white !important;
}

.ant-divider-horizontal.ant-divider-with-text::before{
    border-top: 1px solid white !important;
}

.ant-form-item-label > label {
    color: white !important;
}


/* ------ Message component */
.ant-message {
    position: absolute;
    bottom: 30px !important;
    top: unset !important;
}

/* Input explain error */
.ant-form-item-explain-error {
    color: white !important;
    font-weight: 600;
}

/* Alert component */
.alert-danger {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-left: 4px solid rgba(255, 0, 0, 0.6);
    border-radius: 0px;
}



/* --------------------------------------- Media -------------------------------------*/

@media only screen and (max-width: 600px) {
    .side-content {
        margin: 1rem 1rem;
    }
}

