.cards-container{
    padding: 0rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}


.filters-area{

    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    background-color: rgba(255,255,255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 3px solid rgba(255,255,255,0.2) !important;
}