
.card{
    width: 250px;
    margin: 0.75rem !important;
    background-color: rgba(0,0,0, 0.3) !important;
    /* -webkit-backdrop-filter: blur(10px);  */
    backdrop-filter: blur(10px);
    color: white !important;
}

.ant-card-body{
    padding-bottom: 15px !important;
}

.divider-text{
    font-size: 0.75rem;
    font-weight: 600;
}

.description-block{
    font-size: 0.75rem !important;
    overflow-y: auto;
    /* Only Firefox */
    scrollbar-width: thin;    
    height: 60px; 
}

.tags-block{
    height: 28px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.courses-block{
    font-size: 0.75rem !important;
    height: 40px;
    overflow-y: auto;
    scrollbar-width: thin;
}

svg { vertical-align: baseline; }

ul{
    padding-left: 16px;
    margin-bottom: 0px !important;
}


/* Adjust divider */
.ant-card .ant-divider{
    color: white !important;
}

.ant-divider-horizontal.ant-divider-with-text::after{
    border-top: 1px solid white !important;
}

/* Make avatar border to contrast*/
.ant-card .ant-avatar{
    border: 2px solid rgba(255,255,255,0.5);
}

.ant-card-meta-title{
    color: white !important; 
}

.ant-card-actions{
    background-color: rgba(255,255,255,0.5) !important;
    border-top: 3px solid rgba(255,255,255,0.2) !important;
}

.ant-card-bordered {
    border: 3px solid rgba(255,255,255,0.3) !important;
}

.white-tag{
    color: white !important;
    background: rgba(255,255,255,0.2) !important;    
    border: 1px solid white !important;
}

.ant-card-actions > li > span > .anticon:hover{
    color: rgba(0,0,0,.45) !important; 
}

.ant-card-hoverable:hover {
    border-color: rgba(255,255,255,0.45) !important;
}

.ant-message {
    position: absolute;
    bottom: 30px !important;
    top: unset !important;
}


